*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #333333;
  font-family: 'Quicksand', sans-serif;
}
ul{
  list-style-type:none;
}
.section{
  width: 100vw;
  height: 100vh;
  display: flex;
}
#loadingScreen{
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
}


.rooms__container{
  min-width: 300px;
  height: 400px;
  margin: auto;
}
  .rooms__header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .rooms__title{
    color: white;
    margin: 0;
  }
  .rooms__refresh{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5em;
  }
    .rooms__list{
      padding-left: 0;

    }
      .rooms__list-item{
        border: 1px solid white;
        display: flex;
        margin: 10px;
        padding: 0px 10px;
        border-radius: 5px;
        justify-content: space-between;
      }
      .rooms__list-item:hover{
        background-color: #797979;
      }
        .rooms__list-item__title{
          color: white;
        }
        .rooms__list-item__onlineUser{
          font-size: 0.6em;
          color: white;
        }
.loadtexture{
  display: none;
  position: fixed;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
}

  .loadtexture__title{
    margin:2px 0px;
  }
  .loadtexture__text{
    font-weight: 200;
    margin:0px 0px 5px;
  }
  .loadtexture__process{
    width: 50px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    margin:0px 0px 10px;
  }
    .loadtexture__process-inner{
      width: 50%;
      height: 100%;
      background-color: white;

    }
  .loadtexture__process-procents{
    font-weight: 400;
    margin: 0;
  }
